<template>
  <j-text-field label="InheritAttrs voorbeeld"></j-text-field>
</template>

<script>
import JTextField from "@/components/JTextField";

export default {
  components: { JTextField }
};
</script>
