<template>
  <div class="text-field">
    <label for="j-input" class="label">{{ label }}</label>
    <input id="j-input" v-model="value" class="input" type="text" />
  </div>
</template>

<script>
export default {
  name: "JTextField",
  props: {
    label: {
      type: String,
      required: true
    },
    value: { type: String }
  }
};
</script>

<style lang="sass" scoped>
.text-field
  display: flex
  flex-direction: column
  justify-content: flex-start
  max-width: 250px

.label
  display: flex
  text-align: left
  font-weight: 300

.input
  display: flex
  padding: 8px
  border: none
  border-bottom: 1px solid #cccccc
  width: 100%
</style>
