<template>
  <div id="app">
    <div id="nav">
      <span :key="index" v-for="(view, index) in routes">
        <router-link :to="view.path">{{ view.name }}</router-link>
        <span v-if="index < routes.length - 1"> | </span>
      </span>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  computed: {
    routes() {
      return this.$router.options.routes.filter(view => !view.redirect);
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
